<% content_for :title, "Prototyping" %>

<h1>GOV.UK Prototyping app</h1>
<p>Another one.</p>
<p>This app is for protoyping GOV.UK itself (mainstream, whitehall, etc), not services.</p>

<p>It stays in sync with GOV.UK by pulling it's templates from GOV.UK itself.</p>

<%= render partial: 'prototype_component/example' %>


