<% content_for :title, "Register a birth abroad" %>

<div class="grid-row">
  <main role="main" class="smart-answer">
    <h1>
      Register a birth abroad
    </h1>

    <div class="summary">
    <p>You must register your child’s birth according to the regulations in the country where the child was born. They’ll give you a local birth certificate.</p>
    </div>

    <p>This local birth certificate should be accepted in the UK, eg when you apply for a passport or register with a school or doctor. You might need to have it <a href="https://www.gov.uk/certifying-a-document">translated and certified</a> if it’s not in English.</p>

    <p>Once you’ve registered locally you may also be able to register the birth with the UK authorities. You don’t need to do this but it means:</p>

    <ul>
    <li>the birth will be recorded with the General Register Offices or at the National Records Office of Scotland</li>
      <li>you can order a consular birth registration certificate</li>
    </ul>
    <div class="application-notice info-notice">
    <p>You can still <a href="/apply-renew-passport">apply for a UK passport for your child</a> even if you don’t register the birth in the UK.</p>
    </div>

    <p class="get-started">
      <a rel="nofollow" href="/question_1" class="big button">Start now</a>
    </p>
  </main>

  <aside>
    <div class="sidebar">
      <div class="">
        <h2 id="parent-subsection">Having a child, parenting and adoption</h2>
        <nav role="navigation" aria-labelledby="parent-subsection"><ul>
          <li>
          <a href="https://www.gov.uk/register-birth">Register a birth</a>
          </li>


          <li class="related-topic"><a href="https://www.gov.uk/browse/births-deaths-marriages/child-adoption" title="More in Having a child, parenting and adoption">More <span class="visuallyhidden">in Having a child, parenting and adoption</span></a></li>

        </ul></nav>
      </div>

      <div class="related-other">
        <h2 id="parent-other">Elsewhere on GOV.UK</h2>

        <nav role="navigation" aria-labelledby="parent-other"><ul>
          <li>
            <a href="https://www.gov.uk/check-british-citizen">Check if you're a British citizen</a>
          </li>
        </ul></nav>
      </div>

      <div class="">
        <a class="return-to-top" href="#content">Return to top ↑</a>
      </div>

      <div id="legacy-sources">
        <p>This page replaces</p>
        <ul>
          <li class="directgov">Directgov</li>
          <li class="businesslink">Business Link</li>
        </ul>
      </div>
    </div>
  </aside>
</div>
