<div class="grid-row">
  <main id="x-content" role="main" class="smart-answer">
    <%= render partial: 'prototype_component/page_title', locals: {
      title: "Register a birth abroad"
    } %>

    <div class="outcome">
      <div class="summary">
      <p>You can apply to register the birth with the British embassy in Afghanistan.</p>
      </div>

      <p>Download and complete the <a href="/government/publications/application-to-register-an-overseas-birth">birth registration form</a>.</p>

      <h2 id="documents">Documents</h2>

      <p>You and the other parent must provide:</p>

      <ul>
        <li>your child’s local birth certificate</li>
        <li>your British birth certificates (long version) showing details of your parents</li>
        <li>a naturalisation or registration certificate (if either of you were not born in the UK)</li>
        <li>your current British passports</li>
        <li>a copy of a passport or birth certificate (if one of you isn’t British)</li>
        <li>a marriage certificate (if you’re married)</li>
        <li>divorce documents (if either of you has ever been divorced)</li>
        <li>a change of name document (if either of you has ever changed your name)</li>
      </ul>

      <p>You’ll need to provide originals and a photocopy of each document.</p>

      <h2 id="cost">Cost</h2>

      <table>
        <thead>
          <tr>
            <th>Service</th>
            <th>Fee</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Register a birth</td>
            <td>£105</td>
          </tr>
          <tr>
            <td>Copy of a birth registration certificate</td>
            <td>£65</td>
          </tr>
        </tbody>
      </table>

      <p>You normally have to pay fees for consular services in the local currency - these are shown in the list of <a href="/government/organisations/foreign-commonwealth-office/series/consular-fees">consular fees</a>.</p>

      <p>You can order copies of the registration certificate from the British embassy when you register the birth.</p>

      <p>Cheaper copies will be available from the <a rel="external" href="http://www.gro.gov.uk">General Register Office</a> in the UK, but not until September the year after you register.</p>

      <h2 id="go-to-the-british-embassy">Go to the British embassy</h2>

      <p>Book an appointment at the British embassy and bring the registration form, supporting documents and the fee.</p>

      <p>Either parent can register the birth.</p>

      <div class="address"><div class="adr org fn"><p>
      British Embassy Kabul<br>15th Street, Roundabout Wazir Akbar Khan
      <br>PO Box 334
      <br>Kabul<br>Afghanistan<br>
      </p></div></div>

      <div class="contact">
      <p>General telephone: +93 (0) 700 102 000
      Management fax: +93 (0) 700 102 250
      Political section fax: +93 (0) 700 102 274</p>

      <p>Email: <a href="mailto:britishembassy.kabul@fco.gov.uk">britishembassy.kabul@fco.gov.uk</a></p>

      <p><a href="https://www.gov.uk/government/world/organisations/british-embassy-kabul/office/british-embassy-kabul">British Embassy Kabul - opening hours</a></p>
      </div>

      <div class="application-notice info-notice">
      <p>Registration can take up to 3 months - your application will be sent to the Foreign and Commonwealth Office in London where the birth will be registered.</p>
      </div>

    </div>
  </main>

  <aside class="next-steps">
    <h2>Next steps</h2>
  </aside>
</div>
