<% content_for :title, "The Rt Hon Nick Clegg MP" %>

<% content_for :page_title do %>
    <%= render partial: 'govuk_component/title', locals: {
      title: "The Rt Hon Nick Clegg MP",
      subtitle: "Deputy Prime Minister and Lord President of the Council"
    } %>
<% end %>

<% content_for :metadata do %>
    <%= render partial: 'govuk_component/metadata', locals: {
      part_of: "<a href='/government/topics/environment'>Environment</a>"
    } %>
<% end %>

<% content_for :main_content do %>
<div class="govspeak">
  <p>Nick Clegg became Deputy Prime Minister and Lord President of the Privy Council in May 2010. He is the MP for Sheffield Hallam.</p>

  <h2 id="education">Education</h2>

  <p>Nick did his undergraduate degree at the University of Cambridge and holds postgraduate qualifications from the University of Minnesota and the College of Europe in Bruges.</p>

  <h2 id="political-career">Political career</h2>

  <p>Nick was elected <abbr title="Member of the European Parliament">MEP</abbr> for the East Midlands in 1999, and was Trade and Industry spokesman for the European Liberal Democrat and Reform group until he stood down in 2004.</p>

  <p>He was elected as MP for Sheffield Hallam in 2005, and served as Liberal Democrat Spokesperson on Europe and Shadow Home Secretary before becoming Leader of the Liberal Democrats in 2007.</p>

  <h2 id="career-outside-politics">Career outside politics</h2>

  <p>Before being elected, Nick spent some time working in journalism, consultancy and university lecturing. He also worked for 5 years at the European Commission, where his role included managing aid projects in Central Asia and trade negotiations with China and Russia. </p>

  <h2 id="personal-life">Personal life</h2>

  <p>Nick Clegg was born in Buckinghamshire in 1967. He is married to Miriam González Durántez. They have 3 sons. </p>
</div>
<% end %>

